@model OverviewPageViewModel
@{
    ViewData["Title"] = "Index";
}
@foreach (var item in Model.PromotedProducts)
{
    <a asp-route-productId="@item.Id" asp-controller="ProductDetails" asp-action="Index">@item.Name</a>
}
@foreach (var item in Model.Products)
{
    <a asp-route-productId="@item.Id" asp-controller="ProductDetails" asp-action="Index">@item.Name</a>
}


