@model List<NavigationBarViewModel>

<nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
	<div class="container-fluid ">
		<div class=" collapse navbar-collapse justify-content-center">
			<ul class="navbar-nav flex-grow-1">
				@foreach (var groups in Model)
				{
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@groups.CategoryGroup.Name</a>
						<div class="dropdown-menu">
							@foreach (var category in groups.Categories)
							{
								<a class="dropdown-item" asp-route-dataId="@category.Id" asp-controller="Overview" asp-action="Index">@category.Name</a>
							}
						</div>
					</li>
				}
			</ul>
		</div>
	</div>
</nav>