@model IEnumerable<object>
@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
		<div class="container-fluid">
			<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
				<ul class="navbar-nav flex-grow-1">
					@foreach (var item in @Model)
					{
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@item.GetType().GetProperty("CategoryGroupName").GetValue(item,null)</a>
							<div class="dropdown-menu">
								
							</div>
						</li>
					}

				</ul>
			</div>
		</div>
	</nav>


</div>
